*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: sans-serif;
    font-size: small;
    line-height: 1.5;
}

h2{
    font-size: 2rem;
}

h3{
    font-size: 1.5rem;
}

/* nav */
nav{
    display: flex;
    gap: 2em;
    justify-content: space-between;
    align-items: center;
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1em;
    background-color:white ;
}

.nav-box-1{
    display: flex;
    align-items: center;
    gap: 2em;
}

.nav-box-2{
    display: flex;
    align-items: center;
    gap: 2em;
}

.nav-box-1 a:link, .nav-box-1 a:visited, .nav-box-2 a:link, .nav-box-2 a:visited{
    color: rgb(149, 149, 149);
    text-decoration: none;
    font-size: medium;
}

.nav-box-1 a:hover, .nav-box-2 a:hover{
    text-decoration: underline;
}

.nav-box-2 a:last-child{
    padding-inline: 1em;
    padding-top: .5em;
    padding-bottom: .5em;
    background-color: rgb(1, 97, 255);
    color: white;
}
/* finish nav */

 /* jumbo */
#header-background{
    background-color: rgb(180, 208, 231);
    padding-inline: 1em;
}

h1{
    max-width: 900px;
    margin: auto;
    padding-top: 2.5em;
    padding-bottom: .5em;
    font-size: 3.5rem;
}

.header-container{
    display: flex;
    flex-wrap: wrap;
    max-width: 900px;
    margin: auto;
}

.header-container div:first-child{
    width: calc(100% / 3);
    min-width: 220px;
    flex: 1 1 auto;
}

.header-container div:first-child p{
    padding-bottom: 2em;
}

.header-container div:first-child a{
    padding: .7em;
    background-color: rgb(1, 97, 255);
    font-size: medium;
}

.header-container div:first-child a:link, .header-container div:first-child a:visited{
    color: white;
    text-decoration: none;
}

.header-container div:first-child a:hover{
    box-shadow: 5px 5px 5px rgb(104, 199, 244);
    text-decoration: underline;
}

.header-container div:first-child div{
    padding-top: 2em;
    padding-bottom: 3em;
}

.header-container div:last-child{
    width: calc(100% * 2 / 3);
}

.header-container div:last-child img{
    width: 100%;
    margin-bottom: -60px;
}

.header-container div:first-child i{
    font-size: 2.5rem;
    padding-bottom: 1em;
}
/* finish jumbo */


main{
    padding-top: 7em;
}

.main-1, .main-2, #main-3, .main-4{
    max-width: 800px;
    margin: auto;
    padding-inline: 1em;
}

/* main-1 */
/* first three boxes */
.before-container-1 h2{
    padding-bottom: 2rem;
}

.before-container-1 span{
    padding-right: 3em;
}

.before-container-1 form{
    padding-bottom: 2em;
}

.main-container-1{
    display: flex;
    gap: 2em;
    flex-wrap: wrap;
}

.box-1-1{
    border: .1em solid rgb(208, 208, 211);
    width: calc((100% - 4em) / 3);
    min-width: 240px;
    flex: 1 1 auto;
}

.business-profile{
    padding: .5em;
    text-align: center;
    border-bottom: .1em solid rgb(208, 208, 211);
}

.inside-piano{
    padding-inline: 1.5em;
}

.piano-price h3{
    padding-top: 1.5em;
}

.piano-price h4{
    padding-top: .5em;
}

.piano-price div{
    padding-bottom: .2em;
}

.piano-intermedium{
    padding-top: 2.5em;
    padding-bottom: 2em;
}

.piano-intermedium{
    list-style:none;
}

.piano-intermedium li{
    display: flex;
    align-items: baseline;
    padding-bottom: .8em;
}

.piano-intermedium li i{
    margin-inline-end: .5em;
}

.piano-prova{
    padding-top: .8em;
    padding-bottom: .8em;
    padding-inline: 1.5em;
    text-align: center;
    background-color: rgb(1, 97, 255);
}

.piano-prova:link, .piano-prova:visited{
    color: white;
    text-decoration: none;
}

.piano-prova:hover{
    text-decoration: underline;
}

.acquista-ora{
    padding-top: 2em;
    padding-bottom: 3em;
}

hr{
    width: 40px;
    border: .01em solid rgb(208, 208, 211);
}

.punti-salienti{
    padding-top: 3em;
    padding-bottom: 2em;
}

.list-punti-salienti{
    list-style: none;
}    

.list-punti-salienti li {
    display: flex;
    align-items: baseline;
    padding-bottom: 1em;
}

.list-punti-salienti li i{
    color: rgb(1, 97, 255);
    margin-inline-end: .5em;
}
/* finisch first three boxes */

/* box 4 */
.box-1-4{
    width: 100%;
    border: .01em solid rgb(208, 208, 211);   
}

.inside-piano-4{
    width: 100%;
    display: flex;
    gap: 4em;
    padding: 1.5em; 
}

.piano-price-4 h3{
    padding-top: 1em;
    padding-bottom: .5em;
}

.piano-price-4 p{
    padding-top: 2em;
    padding-bottom: 1em;
}

.piano-price-4{
    width: calc((100% - 4em) * 2 / 3);
}

.before-piano-prova-4{
    width: calc((100% - 4em) / 3);
    padding-inline: 1.5em;
    padding-top: 2em;
}
/* finish box 4 */
/* finish main 1 */

/* main 2 */
.main-2{
    padding-top: 7em;
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
}

.main-2 div:first-child{
    width: calc(60% - 1em);
    flex: 1 1 auto;
}

.img-main-2{
    width: 100%;
}

.main-2 div:last-child{
    width: calc(40% - 1em);
    min-width: 225px;
    flex: 1 1 auto;
}

.main-2 h3{
    padding-top: 2em;
    padding-bottom: 1em;
}

.main-2 p{
    padding-bottom: 2em;
}

.trova-partner{
    display: inline;
    padding-inline: 1.5em;
    padding-top: .5em;
    padding-bottom: .5em;
    border: .01em solid rgb(208, 208, 211); 
}

.trova-partner:link, .trova-partner:visited{
    color: black;
    text-decoration: none;
}

.trova-partner:hover{
    text-decoration: underline;
}
/* finish main 2 */

/* main 3 */
#main-3 h2{
    padding-top: 3em;
    padding-bottom: 1em;
}

.main-container-3{
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    padding-top: 2em;
}

.box-3{
    flex: 1 1 auto;
    min-width: 240px;
    width: calc((100% - 4em) / 3);
}

.box-3 img{
    width: 100%;
}

.box-3 h3{
    padding-bottom: 1.5em;
}
/* finish main 3 */

/* main 4 */
.main-4{
    padding-top: 8em;
    padding-bottom: 4em;
}
.main-4 h2{
    width: 400px;
    padding-bottom: 2em;
}
/* finish main 4 */

/* main 5 */
.main-5{
    display: flex;
    flex-wrap: wrap;
}

.container-5-1, .container-5-3{
    flex: 1 1 400px;
    display: flex;
    flex-wrap: wrap;
}

.university img, .university img{
    width: 50%;
    height: 50%;
}

.university{
    flex: 1 1 auto;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.uni-style-1{
    background-color: rgb(162, 211, 155) ;
    border: .8em solid rgb(208, 233, 205);
}

.uni-style-2{
    background-color: rgb(98, 9, 43);
}

.uni-style-3{
    background-color: rgb(0, 147, 206);
}

.uni-style-4{
    background-color: rgb(255, 29, 28);
}

.uni-style-5{
    background-color: rgb(213, 0, 32);
}

.uni-style-6{
    background-color: rgb(180, 208, 231);
}

.uni-style-7{
    background-color: rgb(13, 36, 129);
}

.uni-style-8{
    background-color: rgb(255, 216, 48);
}

.container-5-2{
    flex: 1 1 400px;
    min-width: 400px;
    padding: 2em;
    background-color: rgb(246, 246, 246);
}

.container-5-2 img{
    width: 50%;
    padding-bottom: 2em;
}

.container-5-2 p{
    padding-top: 2em;
    padding-bottom: 2em;
}
/* finish main 5 */

/* main 6 */
#main-6{
    background-color: rgb(180, 208, 231);
}

.container-6{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 800px;
    margin: auto;
    gap: 2em;
    padding-top: 6em;
    padding-bottom: 6em;
    padding-inline: 1em;
}

.container-6 h2{
    width: 45%;
    min-width: 310px;
}

.container-6 a{
    background-color: white;
    display: block;
    padding-inline: 3em;
    padding-top: .5em;
    padding-bottom: .5em;

}

.container-6 a:link, .container-6 a:visited{
    color: black;
    text-decoration: none;
}

.container-6 a:hover{
    text-decoration: underline;
}
/* finish main 6 */

/* main 7 */
.main-7{
    max-width: 800px;
    margin: auto;
    padding-top: 5em;
    padding-bottom: 5em;
    padding-inline: 1em;
}

.main-7 h2{
    padding-bottom: 1.5em;
}

.main-7 hr{
    width: 100%;
}

.box-7{
    display: flex;
    justify-content: space-between;
    padding-bottom: 2em;
    padding-top: 2em;
}

.box-7 div:last-child{
    padding-right: 3em;
    padding-left: 3em;
}
/* finish mai 7 */
/* finish all main */

/* footer */
footer{
    background-color: black;
    color: white;
    padding-inline: 1em;
}

.footer-container{
    max-width: 900px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding-top: 5em;
    padding-bottom: 1em;
    row-gap: 2em;
    column-gap: 1em;
}

.footer-container div{
    width: calc((100% - 4em) / 5);
    min-width: 160px;
}

.footer-container div h3{
    padding-bottom: 1em;
}

.footer-container div ul{
    list-style: none;
    line-height: 2rem;
}

.footer-links:link, .footer-links:visited{
    text-decoration: none;
    color: white;
}

link, .footer-links:hover{
    text-decoration: underline;
}

.lenguage{
    max-width: 900px;
    margin: auto;
}

.lenguage div{
    padding-top: 1em;
    padding-bottom: 3em;
    display: flex;
    align-items: center;
    gap: .5em;
}

.lenguage::before{
    display: block;
    content: "";
    width: 100px;
    border-bottom: .1em solid white;
    padding-top: 3em;
}
/* finish footer */

/* let's go */
